
.navbar{
    height: 100px;
}

a{
    font-family: monospace;
}

.navbar-expand-lg .navbar-nav .dropdown-menu{
    width: fit-content;
    padding: 50px;
    border: unset;
    border-radius: unset;
    background-color: #F2F2F2;
}

.nav-link{
    font-family: monospace;
}

.header_section{
    padding: 100px 50px;
    width: 100%;
    background-image: url("images/header-image1.png");
}

.header_section_container{
    padding: 50px;
}

.headline_info h1{
    color: #F2F2F2;
    font-family: monospace;
    margin-bottom: 50px;
}

.card_category{
    display: flex;
    flex-direction: row;
}

.card_category_display{
    background-color: #F2F2F2;
    padding: 30px;
    margin-right: 20px;
}

.card_category .card-body{
    font-family: monospace;
}

.headline_info h5{
    font-family: monospace;
    margin: 30px 0;
}

.deal_card .card-body{
    padding: 30px;
    background-color: #fff;
    font-family: monospace;
}

.deal_card .card-text{
    color: #5A24A6;
    font-weight: 900;
}

.btn{
    padding: 15px !important;
    border-radius: 0px !important;
}

.deal_button{
    background-color: #2B3040 !important;
    justify-content: center;
    margin-top: 30px;
    color: #F2F2F2 !important;
}

.card_category{
    margin: 0px !important;
    padding: 0px !important;
}

.second_section{
    padding: 100px 50px;
    width: 100%;
}

.second_section_container{
    padding: 50px;
}

.second_section_container h1{
    color: #2B3040;
    font-family: monospace;
}

.second_section_container h5{
    font-family: monospace;
    color: #5A24A6;
}

.third_section{
    background-color: #CBC5D9;
    padding: 100px 50px;
    width: 100%;
}

.third_section_container{
    padding: 50px;
}

.third_section_container h1{
    color: #2B3040;
    font-family: monospace;
}

.third_section_container h5{
    font-family: monospace;
    color: #5A24A6;
}

.overflow_container{
    overflow-x: scroll;
}

.deal_card .card-img-top{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.bike_category{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
}

.deal_card_bikes{
    margin-right: 20px;
}

.deal_card_bikes .card-body{
    background-color: #F2F2F2;
}

.card_header_row{
    display: flex;
    flex-direction: row;
}

.card-img-top-category{
    width: 150px;
    height: 100px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.deal_card_bikes_cat{
    width: 150px;
    margin-bottom: 30px;
}

.deal_card_bikes .card-body{
    padding: 30px;
    background-color: #fff;
    font-family: monospace;
}

.deal_card_bikes_cat .card-title{
    font-size: 20px;
    font-family: monospace !important;
    padding: 20px 10px;
    background-color: #9F96D9;
}
